/* New Job Style Sheet */

body {
    font-size: 18px;
    font-family: Courier New;
}

/* Container holding the image and the text */
.container {
    position: relative;
    display: table;
    width: 100%
    height: 100%; 
    font-family: Courier New;
}
.mainImg {

	margin-left: 1%;
}

/* Bottom right text */
.text-block {
    position: absolute;
    top: 20px;
    left: : 20px;
    background-color: transparent;
    color: navy;
    padding-left: 20px;
    padding-right: 20px;
}