/* See Jobs Style Sheet */

body {
    font-size: 18px;
    font-family: Courier New;
}



/* Container holding the image and the text */
.container {
    position: relative;
    display: table;
    width: 100%
    height: 100%; 
}

/* Bottom right text */
.text-block {
    position: absolute;
    top: 24%;
    right: 16%;
    background-color: transparent;
    color: navy;
    padding-left: 20px;
    padding-right: 20px;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.but2 {
	background-color: #58D68D; 

}

.jobList {
	display: grid;
  	grid-template-columns: repeat(3, 1fr);
  	grid-gap: 8px;
  	font-family: Courier New;
}

.jobElem {
	border: 13px solid #58D68D;
    padding: 25px;
    margin: 25px;
}



